.block{
    display: inline-block;
    border: 1px lightgray solid;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
.block>ul li{
    display: inline-block;
    margin:10px;
}
.block>ul{
    padding-left:0px ;
}
.block>p:last-of-type{
    font-family: serif;
    color: gray;
}
.block>p:first-of-type{
    font-size: 18px;
    color: black;
}
.block button{
    border: none;
}
.block button:hover{
    border: 1px gray solid;
}
